.idea/
AppData/MariaDB/*
!AppData/MariaDB/.gitkeep
secrets/*
!secrets/.gitkeep

# Traefik
AppData/traefik-proxy/access.log
AppData/traefik-proxy/traefik.log

# Authelia
AppData/authelia/authelia.log
AppData/authelia/notification.txt
